# Python virtual environments
venv/
.venv/
env/
ENV/
venv310/
# VSCode virtual environment folders
.vscode/
# PyCharm virtual environment folders
.idea/

# MediaPipe/frames output
frames/
data/frames/
output/frames/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
